{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.60"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        org.clojure/spec.alpha {:mvn/version "0.3.218"}
        thheller/shadow-cljs {:mvn/version "2.25.8"}
        reagent/reagent {:mvn/version "1.2.0"}}
 :aliases
 {:dev {:extra-deps {binaryage/devtools {:mvn/version "1.0.7"}}}
  :build {:extra-deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}}
          :ns-default build}}}
