{:source-paths ["src"]
 :dependencies [[reagent "1.2.0"]
                [org.clojure/core.async "1.6.673"]]
 :dev-http {8080 "public"}
 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:init-fn infra-intelligence.core/init}}}
  :lib {:target :browser
        :output-dir "dist"
        :modules {:infra {:entries [infra-intelligence.core]
                          :init-fn infra-intelligence.core/export-api}}}}}
